.table-responsive{
    overflow-x: visible;
}

.icon{
    margin-left: 5px;
    cursor: pointer;
}

.remove{
    color: red;

}

.visible{
    color: rgb(16, 164, 204);
}

.form-inline{
    margin-left: 10px;
}